table.gallery {
	border: 1px solid #ccc;
	margin: 2px;
	padding: 2px;
	background-color: #fff;
}

table.gallery tr {
	vertical-align: top;
}

table.gallery td {
	vertical-align: top;
	background-color: #f9f9f9;
	border: solid 2px #fff;
}

div.gallerybox {
	margin: 2px;
	width: 150px;
}

div.gallerybox div.thumb {
	text-align: center;
	border: 1px solid #ccc;
	margin: 2px;
}

div.gallerytext {
	font-size: 94%;
	padding: 2px 4px;
	text-align: left;
}
