/* JS pref toc */
#preftoc {
	float: left;
	margin-right: 1em;
	margin-left: 0;
	margin-top: 1em;
	width: 13em;
	list-style-image: none;
	list-style-type: none;
}

#preftoc li {
	border: 1px solid #aaa;
	margin-bottom: 0.9em;
	padding: 3px;
	border-radius: 6px;
	box-shadow: 1px 1px 1px grey;
}

#preftoc li.selected {
	font-weight: bold;
}

#preftoc a,
#preftoc a:active {
	margin: 1px;
}

#preftoc a:hover,
#preftoc a:focus {
	text-decoration: none;
	margin: 1px;
}

#prefcontrol {
	clear: both;
	float: left;
	margin-right: 1em;
}

div.prefsectiontip {
	font-size: 95%;
	margin-top: 1em;
}

fieldset.operaprefsection {
	margin-left: 15em
}

.mainLegend {
	display: none;
}

.prefsection {
	border: none;
	margin: 0;
	padding: 0;
}

td.htmlform-tip {
	font-size: x-small;
	padding: .2em 2em;
	color: #666;
}

td.mw-label {
	padding-right: 4pt;
}

#mw-pref-clear {
	clear: both;
}

.mw-prefs-buttons a {
	padding-top: 4px;
	vertical-align: middle;
}
