ol.references {
	font-size: 0.9em;
}

sup.reference {
	font-size: 0.8em;
	line-height: 0.8em;
	vertical-align: top;
	position: relative;
	top: -0.2em;
	white-space: nowrap;
}

.reference * {
	vertical-align: top;
}

ol.references > li:target {
	background-color: #def;
}

sup.reference:target {
	background-color: #def;
}