/*
 * Styles for extensions
 */

/*
 * Poem Extension
 */
.poem {
	margin-left: 1.5em;
	white-space: nowrap;
	overflow: auto;
}

.poem p {
	padding-left: 0.5em;
	border-left: 1px solid #ffd700;
}

/* HeaderTabs */
#headertabs {
	border: 1px solid #aaa;
}

/* Syntax Hightlight GeSHi */
.mw-geshi {
	padding: 1em;
	margin: 1em 0;
	border: 1px dashed #2fab6f;
	border-radius: 6px;
	overflow-y: hidden;
}

.mw-geshi ol {
	padding-left: 1em;
}

/* Google Maps */
.pmap {
	margin-top: -5px;
	margin-bottom: 5px;
}

.google-map {
	margin-bottom: 1.5em;
	width: auto;
}

/* Semantic MediaWiki */
table.smwtable tr.smwfooter td.sortbottom {
	padding-top: 3px;
	padding-bottom: 3px;
}

table.smwtable {
	margin: 1em 1em 1em 0;
	border: 1px #aaa solid;
	border-collapse: collapse;
	empty-cells: show;
	border-radius: 6px;
}

table.smwtable th {
	background-color: #e0e9e9;
	border: 1px #aaa solid;
	padding: 0.2em;
	white-space: nowrap;
	padding: 0.2em;
}

table.smwtable td {
	border: 1px #aaa solid;
	padding: 0.2em;
}

table.smwtable caption {
	margin-left: inherit;
	margin-right: inherit;
	font-weight: bold;
}

table.smwtable tr.row-odd {
	background-color: #F9F9F9;
}
table.smwtable tr.row-odd td{
	border-top: none;
	border-bottom: none;
}

table.smwtable tr.row-even {
	background-color: #f1f1f1;
}
table.smwtable tr.row-even td {
	border-top: none;
	border-bottom: none;
}

.smwttactiveinline {
	white-space: nowrap;
}

.smwfact {
	border-radius: 6px;
	box-shadow: 2px 2px 2px #808080;
}

#content div.smwfact table.smwfacttable {
	border-radius: 0px;
}

.smwtt {
	font-size: 10pt;
}

#content table.smwb-factbox,
#content table.smwb-ifactbox {
	border-radius: 0;
}

/* Semantic Drilldown */
div div#drilldown-categories-wrapper {
	padding-left: 0;
	padding-right: 0;
}
/* Semantic Forms */
input.createboxInput {
	margin-top: 1px;
	margin-bottom: 1px;
}
/*
.mandatoryFieldSpan {
	border: 1px solid #8B0000;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #FFA07A;
}

.inputSpan {
	padding-top: 5px;
	padding-bottom: 7px;
}
*/

.formtable td {
	padding-top: 7px;
	padding-bottom: 7px;
}

.formtable th {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 4px;
}

#sfForm div.warningbox {
	border: 1px solid #ff8c00 !important;
}

.checkboxLabel, .ui-widget {
	white-space: nowrap;
}

/* Semantic Result Formats */
#bodyContent table.navigation_table tr td.month_name {
	font-size: 18pt;
}

#bodyContent table.month_calendar tr.weekdays {
	background: #e0e9e9;
}

#bodyContent table.month_calendar td.today div.day {
	background: #e0e9e9;
}

#bodyContent table.month_calendar td.weekend_day div.day {
	color: red;
}

#bodyContent .srf-datatables select {
	padding: 4px;
}

/* Flagged Revisions */
div.flaggedrevs_basic,
div.flaggedrevs_quality,
div.flaggedrevs_pristine,
div.flaggedrevs_notice {
 	border-radius: 6px;
}

table.flaggedrevs_editnotice {
	margin-bottom: 1em;
}

/* OpenID */
#p-personal .pBody li#pt-openidlogin {
	background: none;
	padding-left: 0;
}

.openid_large_link {
	border-radius: 6px;
	border-width: 1px;
}

.openid_small_providers_block {
	padding-right: 5em;
}

#provider_form_openid input {
	margin-top: 5px;
}

/* 4sq */
table .tips-4sq blockquote {
	margin-right: 20px;
	margin-left: 20px;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

/* yelp */
table .yelp-reviews blockquote {
	margin-right: 20px;
	margin-left: 20px;
}

/* Social Sidebar WeCoWi */
#nav div li span.social {
	padding-bottom: 6px;
	padding-top: 6px;
}

#nav div li#buffer span.social {
	padding-left: 19px;
}

#nav div li#facebook span span {
	margin-left: -10px;
	margin-top: -5px;
}

#nav div li#facebook span.social {
	height: 19px;
}

#nav div li#twitter span.social iframe {
	margin-left: 9px;
}

#nav a.twitter-share-button {
	font-weight: normal;
	border: none;
	padding: 0 0 0 10px;
}

#nav li#google span.social,
#nav li#flattr span.social {
	padding-left: 20px;
}
