#header {
	background: #D2BA92 url("header_bl.gif") bottom left repeat-x;
}

#p-cactions li {
	background: url("header_tab.gif") no-repeat scroll 100% -600px transparent;
	border-bottom: 1px solid #B48A48;
}

#p-cactions li a {
	background: url("header_tab.gif") no-repeat scroll 0 -600px transparent;	
}

#p-cactions li div.share-wrapper {
	background: url("header_tab.gif") no-repeat scroll 0 -600px transparent;
}

#p-cactions li.selected a {
	color: #CAAF83;
}

#nav {
	background: #E8DDCA url("menu_back.gif") right repeat-y;
}

#nav div a[href ^="http://"] {
    background: #EDF2F2 none repeat scroll 0 0;
}

#nav div a:hover {
    background: #E8DDCA;
}

#nav:after {
	background: transparent url("menu_br.gif") scroll no-repeat bottom right;
}

#nav div a, #nav div span.social {
	background: none #FBF4E8;
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-top: 1px solid #FFF;	
}


/* different from blue.css */

.portlet li a:link {
	color: #780000;
	text-decoration: none;
}
.portlet li a:visited {
	color: #774F03;
	text-decoration: none;
}